@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
html {
  height: 100%;
  font-family: Lato, sans-serif;
}

#body {
  border: 3px solid black;
  background-image: linear-gradient(#123f58 5%, #9dd2ee);

}

#mainContent {
  margin-top: 20px;
}

#container {
  max-width: 1600px;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  font-family: 'Rowdies:wght@300';
}



#hRoad {
  font-family: 'Rowdies:wght@300';
  font-size: 60px;
  color: #ffffff;
  border: 12px solid;
  border-radius: 60px;
  background: #666666;
  mix-blend-mode: multiply;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  animation: glow 3s infinite;
  margin-bottom: 20px

}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px white;
  }

  15% {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1),
           -2px -2px 10px rgba(255, 255, 255, 1);
  }
  30% {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .7),
           -2px -2px 4px rgba(255, 255, 255, .7);
  }
  50% {
    text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
           -20px -20px 50px rgba(255, 255, 255, .5);
  }
}

.backdrop {
  background: url(https://thumbs.dreamstime.com/z/earth-globe-flare-showing-africa-blue-copy-space-33225727.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:96% right, 34% top;

}

#selectDropdowns {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#selectDropdowns select {
  width: 200px;
  height: 30px;
  text-align: center;
}

#mainContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#leftSideContainer {
  display: flex;
  flex-direction: column;
  width: 58%
}

#itineraryPreviewContainer {
  display: flex;
  border: 3px solid #F35B04;
  border-radius: 8px;
  flex-direction: row;
  background-image: linear-gradient(#ffe084 80%, #ad850d);
  justify-content: space-around;
  align-items: center;
}

#weatherContainer {
  border: 3px solid #F35B04;
  border-radius: 8px;
  background-image: linear-gradient(#ffe084 , #ad850d);
  height: 200px;
  margin-top: 25px;
  height:fit-content
  
}

#directionsContainer {
  border: 3px solid #F35B04;
  border-radius: 8px;
  background-image: linear-gradient(#ffe084 1%, #ad850d);
  margin: 0px 10px;
  min-height: 150px;
  width: 20%;
  padding-left: 4px;
}

#savedItineraryListContainer {
  display: flex;
  border: 3px solid #F35B04;
  border-radius: 8px;
  width: 18%;
  flex-direction: column;
  background-image: linear-gradient(#ffe084 1%, #ad850d);
}

#selectedChoicesContainer {
  display: flex;
  flex-direction: column;
  width: 58%
}

#selectedChoicesContainer .selectedLabel {
  margin-left: 10px;
  align-self: start;
}

#moreDetailsContainer {
  border: 3px solid #F35B04;
  border-radius: 8px;
  display: block;
  min-height: 65%;
  overflow: auto;
  width: 45%;
  margin: 10px 10px;
  padding: 10px;
  background-image: linear-gradient(#0d7669, #00caaf);
}

#moreDetailsContainer h3, #moreDetailsContainer h4 {
  margin: 0px;
}

.flexRow {
  display: flex;
  align-items: center;
}

#selectedPark, #selectedBizarrerie, #selectedEatery {
  border: 1px solid black;
  height: 20px;
  width: 95%;
  margin-left: 10px;
  background-color: #ffffff;
}

.btn {
  width: 100px;
  margin: 10px;
}

/*******************************************************************************/
#weather {
  padding: 10px;
  margin: 0;
  box-sizing: 0;
}

#weather h3 {
  margin: 5px auto;
  text-align: left;
}

#weatherRow {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
}

#weatherRow ul {
  padding: 0px;
  text-align: center;
}

/* img {
  background-color: rgb(129, 158, 252);
  margin: auto;
  width: 50px;
  height: 50px;
  border: .5px black solid;
} */

.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  list-style-type: none; 
  margin: 0px;   
}

.date_container {
  text-align: center;
}

.weather_icon{
  width: 25px;
  height: 25px;
}

.var {
  background-image: linear-gradient(
      rgba(255,255,255,0.12), 
      rgba(255,255,255,1)), 
      var(--url);

  /* background-color: rgb(129, 158, 252); */
  background-color: rgb(var(--color));
  background-repeat: no-repeat;
  width: 100%;
}

.big_temp {
  font-size: 20px;
  margin-bottom: 5px;
}

.a{
  height: 55px;
}

.deets-btn {
  width: 75px;
  margin-left: 10px;
  padding: 0;
  background-color: #F35B04;
  color: #ffffff;
  border-radius: 4px;
}

.blank {
  width: 140;
  height: 74;
  border: 1 dotted;
}

.savedSingles {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 10px;
  padding-bottom: 4px;
  padding-left: 4px;
  background-image: linear-gradient(#0d7669, #00caaf);
  transition: box-shadow .3s;
}

.selectedNames {
  font-size: 14px;
}

.savedSingles {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 

}

.savedItins ol {
  margin-left: 30px;
  padding: 0;
}

.savedItins ol li ul {
  padding: 5px 0px 5px 25px;
}

.savedItins ol {
  margin-left: 30px;
  padding: 0;
}

.savedItins ol li ul {
  padding: 5px 0px 5px 25px;
}

.eventBtn {
  background-color: #F35B04;
  border-radius: 4px;
  color: #ffffff;
}

.wrapper {
  position: relative;
  z-index: 1;
}
.hidden {
  display: none;
}

.gold-box {
  position: absolute;
  padding: 75px;
  z-index: 3; 
  background: rgb(240, 239, 232);
  background-image: linear-gradient(#00caaf, #0d7669);
  transition: box-shadow .3s;;
  width: 50%;
  height:fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10em;
  text-align: left;
}
ul {
  list-style-type: none;
}



.results-list {
  padding:15px;
  
}
.add-button {

  margin-left: 25px;
}