

html {
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {
  border: 3px solid black;
  background-color: rgb(241, 239, 237);
}

h1, h2, h3 {
  text-align: center;
}

#selectDropdowns {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#selectDropdowns select {
  width: 200px;
  height: 30px;
  text-align: center;
}

#mainContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#leftSideContainer {
  display: flex;
  flex-direction: column;
  width: 70%
}

#itineraryPreviewContainer {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

#weatherContainer {
  border: 1px solid black;
  background-color: white;
  height: 200px;
  margin-top: 25px;
  height:fit-content
  
}

#savedItineraryListContainer {
  display: flex;
  border: 1px solid black;
  width: 25%;
  flex-direction: column;
  background-color: white;
}

#selectedChoicesContainer {
  display: flex;
  flex-direction: column;
  width: 53%
}

#selectedChoicesContainer .selectedLabel {
  margin-left: 10px;
  align-self: start;
}

#moreDetailsContainer {
  border: 1px solid black;
  display: block;
  min-height: 65%;
  overflow: auto;
  width: 45%;
  margin: 10px 10px;
  padding: 10px;
}

#moreDetailsContainer h3, #moreDetailsContainer h4 {
  margin: 0px;
}

.flexRow {
  display: flex;
  align-items: center;
}

#selectedPark, #selectedBizarrerie, #selectedEatery {
  border: 1px solid black;
  height: 20px;
  width: 95%;
  margin-left: 10px;
}

.btn {
  width: 100px;
  margin: 10px;
}
/*******************************************************************************/
#weather {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

img {
  background-color: rgb(129, 158, 252);
  margin: auto;
   width:50px;
  height: 50px;
  border: .5px black solid;
 
}
.dates {
  display: flex;
  flex-direction: column;
  width: 100px;
    font-size: small;
    list-style-type: none;    
}

.date_container {
  text-align: center;
}

.weather_icon{
  width: 25px;
  height: 25px;
}



#bck_image {
  background-image: linear-gradient(
      rgba(255,255,255,0.5), 
      rgba(255,255,255,0.25)), 
      url( http://openweathermap.org/img/wn/10d@2x.png);

  background-color: rgb(129, 158, 252);
  background-repeat: no-repeat;
  
}

.big_temp {
  font-size: 45px;
  
}
.a{
  color:rgb(129, 158, 252)
}

.deets-btn {
  width: 75px;
  margin-left: 10px;
  padding: 0;
}